---
  - import_tasks: packages.yml
  - include: sudo.yml
  - include: molly-guard.yml

  - include: user.yml user={{ users }}
    tags: user

  - name: adding message of the day
    template:
      dest: /etc/motd
      src: "{{ motd_path }}"
      owner: root
      group: root
      mode: 0644
    when: motd_path is not undefined and motd_path != ''
